{% extends 'app/base.html' %}
{% load bootstrap4 %}

{% block title %}My faces{% endblock %}

{% block content %}
    <div class="mb-4 text-center">
        <p>
            This page is an overview of the face encodings used to find the
            photos taken of you. You can add a new picture to extract the
            information required to execute the face detection and remove the
            data that you do not want to use anymore. Source images for the detection are never saved.
        </p>
        <p>
            We advise you to experiment with importing different pictures of yourself to get the best results.
            Adding multiple face encodings may detect more images!
        </p>
        <a href="{% url 'encodings:create' %}"
           class="btn btn-success mx-auto">Add a new picture</a>
    </div>
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            {% for encoding in encodings %}
                <div class="col-12 my-1 clearfix">
                    <form action="{% url 'encodings:delete' encoding.pk %}"
                          method="post">
                        {% csrf_token %}
                        <span class="align-middle">
                        {{ forloop.counter }}: {{ encoding.description|default_if_none:'No description given' }}
                            </span>
                        <input type="submit" value="Delete" class="btn btn-danger float-right"/>
                    </form>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
