{% extends 'app/base.html' %}
{% load bootstrap4 %}

{% block title %}Encodings{% endblock %}

{% block content %}
    <a href="{% url 'encodings:create' %}" class="btn btn-primary">Create new encoding</a>
    <div class="row">
        {% for encoding in encodings %}
            <div class="col-12 my-1">
                <form action="{% url 'encodings:delete' encoding.pk %}"
                      method="post">
                    {% csrf_token %}
                    {{ encoding.pk }} - <input type="submit" value="Delete"
                                               class="btn btn-danger"/>
                </form>
            </div>
        {% endfor %}
    </div>
{% endblock %}
