packages:
  yum:
    git: []
    postgresql95-devel: []
    libtiff-devel: []
    libjpeg-devel: []
    openjpeg2-devel: []
    zlib-devel: []
    freetype-devel: []
    lcms2-devel: []
    libwebp-devel: []
    tcl-devel: []
    tk-devel: []
    harfbuzz-devel: []
    fribidi-devel: []
    libraqm-devel: []
    libimagequant-devel: []