{% extends 'app/base.html' %}
{% load bootstrap4 compress static %}

{% block title %}{{ title }}{% endblock %}

{% block bootstrap4_extra_script %}
    {{ block.super }}
    <script type="text/javascript"
            src="{% static "js/jquery.min.js" %}"></script>
    <script type="text/javascript"
            src="{% static "js/jquery.fancybox.min.js" %}"></script>
    {% compress js %}
        <script type="text/javascript"
                src="{% static "js/main.js" %}"></script>
    {% endcompress %}
{% endblock %}

{% block content %}
    <div class="row text-center">
        {% for photo in photos %}
            <div class="col-3 my-2 photo-card">
                <a href="{{ photo.file.full }}" target="_blank"
                   data-rotation="{{ photo.rotation }}"
                   data-fancybox="gallery">
                    <img class="w-100" src="{{ photo.file.medium }}"/>
                </a>
            </div>
        {% empty %}
        <div class="text-center mx-auto col-md-7">
            <p>
                It looks like this is your first time here! Welcome to the Thalia Throwback Machine!
            </p>
            <p>
                This website will allow you to look back at photos taken of you (or others) in the
                past years.<br />The Paparazcie made sure we have quite the archive available!
            </p>
            <p>
                To get started you have to add a picture of yourself so that we know what to look for.
            </p>
            <a href="{% url 'encodings:create' %}"
               class="btn btn-success mx-auto">Add a new picture</a>
        </div>
        {% endfor %}
    </div>
{% endblock %}